<div data-dojo-type="dijit/layout/BorderContainer" class="ecmCenterPane"
    style="width: 100%; height: 100%; padding-left: 40px;">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'" 
        class="PageTitle">
        ${_lcl.SEARCH_FILE}	
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" 
        style="width: 100%"  data-dojo-props="region: 'center'">
        <!-- ClassSelectorDiv -->
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="ClassSelectorDiv" 
            style="width: 100%; margin-bottom: 20px;">
            <!-- Content for ClassSelectorDiv here -->
        </div>
        <!-- ProertyDataGrideDiv -->
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="ProertyDataGrideDiv" id="ProertyDataGrideDiv"
            style="width: 100%;">
            <!-- Content for ProertyDataGrideDiv here -->
        </div>
    </div>
     <div class="dataClass PermissionsContent" data-dojo-attach-point="viewContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" style="width: 90%; height: 100%;">
     </div>
</div>
