<div class="ecmCenterPane">
	<div data-dojo-type="idx/layout/BorderContainer" data-dojo-props="gutters:true">
		<div data-dojo-attach-point="searchArea" data-dojo-type="dijit/layout/ContentPane" 
				data-dojo-props="splitter:true,region:'top'" class="sampleSearchArea">
			<div data-dojo-attach-point="repositorySelectorArea" class="sampleRepositorySelectorArea"></div>

		</div>
		<div data-dojo-attach-point="resultsArea" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
			<div data-dojo-attach-point="searchResults" data-dojo-type="ecm/widget/listView/ContentList" 
					data-dojo-props="emptyMessage:'${messages.folder_is_empty}', showCheckboxes :'true', multiSelect: 'multiple'">
			</div>
			
		</div>
	</div>
</div>